@font-face {
    font-family: "Extenda";
    src: url("/assets/fonts/Extenda-80-Peta-trial.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

.extenda{
    font-family: "Extenda";
}

.linkNav {
    font-family: "Oswald", serif;
    font-size: 3rem;
    font-weight: 900;
    justify-content: flex;
    align-items: center;
}

.linkNav:hover{
    color: #4B3F33;
}